body {
    font-family: Poppins, sans-serif;
}

.v-btn--size-default,
.v-icon {
    min-width: 0 !important;
}

.v-tab.v-tab.v-btn {
    height: 40px !important;
}

.active-tab {
    background: linear-gradient(90deg,
            rgba(128, 41, 0, 0.1) 0%,
            rgb(110, 71, 62) 50%,
            rgba(128, 0, 0, 0.1) 100%);
    background-size: 200% auto;
    animation: gradientMove 3s linear infinite;
    border-radius: 8px;
}

@keyframes gradientMove {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 200% center;
    }
}

.v-data-table {
    max-width: 100%;
}

.v-date-picker {
    width: 100%;
}

/* Vuetify Date Picker */
.v-date-picker__title {
    display: none !important;
    height: 0 !important;
}

.v-date-picker-header {
    display: none !important;
    padding-top: 0 !important;
    height: 40px !important;
}

.v-date-picker-header__content {
    margin-top: 0 !important;
    display: none !important;
    height: 0 !important;
}

.v-picker-title {
    height: 0 !important;
    margin-top: 0 !important;
    padding-inline: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.v-date-picker-controls {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
}

/*  */

thead .v-data-table__th .v-data-table-header__content {
    color: #a2a0a0;
}

.to-show-head {
    display: none;
}

.to-show {
    display: none;
}

@media (max-width: 450px) {
    .to-hide-head {
        display: none;
    }

    .to-show-head {
        display: flex;
    }
}

@media (max-width: 530px) {
    .to-hide {
        display: none;
    }

    .to-show {
        display: flex;
    }
}

.skeleton-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}